In [1]:
a:str = "zarnain"
b:str =" abid"
c:str="sir imam"

#list
dynamic length
hetrogenous data types ( multiple type)
index
 positive 0 to n-1
 negative -1 to 10 length

In [7]:
# ->     0              1       2       left to right
names= ["alina" , "tayyaba" ,"zara"]
# <-          -3          -2      -1 right to left 
print(names[-2])

tayyaba

In [15]:
from typing import Any
names :list[any] = ["zara" , "alina" ,"maham"  , 9, True]
print(type(names[-1]))
print(f'My name is {names[0].upper()} ')

<class 'bool'>
My name is ZARA

slice
variable `names[start:end : step]`
start :int = include
 end:int = n-1
 step :int = seqeance
 slicing always work from left to right

In [17]:
characters : list[str] = ["ABCDEFIGKLMNOPQRSTUVWXYZ"]
characters1 : list[str] = list("ABCDEFIGKLMNOPQRSTUVWXYZ")
print(characters)
print(characters1)

['ABCDEFIGKLMNOPQRSTUVWXYZ']
['A', 'B', 'C', 'D', 'E', 'F', 'I', 'G', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [29]:
characters :list[str] =['A', 'B', 'C', 'D', 'E', 'F', 'I', 'G', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
print(characters[0:2])
print(characters[0:])
print(characters[:2])
print(characters[-26:-24])
print(characters[0:21:3])
#by default step value is 1

['A', 'B']
['A', 'B', 'C', 'D', 'E', 'F', 'I', 'G', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['A', 'B']
[]
['A', 'D', 'I', 'L', 'O', 'R', 'U']

In [33]:
characters :list[str] =['A', 'B', 'C', 'D', 'E', 'F', 'I', 'G', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
print(characters[::])
print(characters[::2])
print(characters[::-2])

['A', 'B', 'C', 'D', 'E', 'F', 'I', 'G', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['A', 'C', 'E', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']
['Z', 'X', 'V', 'T', 'R', 'P', 'N', 'L', 'G', 'F', 'D', 'B']

In [39]:
# step  slicing ->
#step -> positive
# step <- negative

characters :list[str] =['A', 'B', 'C', 'D', 'E', 'F', 'I', 'G', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
print(characters[-1:-5:-3])
print(characters[::-3])

['Z', 'W']
['Z', 'W', 'T', 'Q', 'N', 'K', 'F', 'C']

#list method

In [44]:
students:list[str] = ["zarnain" ,"khinsa" , "tayyab " , "mujeeeb"]
print(students)
students[0] = "zarnain naz"
print(students[0])
del students[0] 
print(students)

['zarnain', 'khinsa', 'tayyab ', 'mujeeeb']
zarnain naz
['khinsa', 'tayyab ', 'mujeeeb']

In [51]:
# print is none return function
a:str= print('alina')
print(a)
display(a)

alina
None

None

In [52]:
# return function
a:str= id(names)
display(a)

2076794426816

help
help(object)
object?
object??
?object
??object

In [53]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [67]:
new_students:list[str] = ["zarnain" ,"khinsa" , "tayyab " , "mujeeeb"]
print(new_students)
a:str= new_students.pop(0)
print(a[-2])
print(new_students)

['zarnain', 'khinsa', 'tayyab ', 'mujeeeb']
i
['khinsa', 'tayyab ', 'mujeeeb']

In [71]:
names : list[str] = ["kiran" ,"abbas" , "habib"]
names.append("jamil")
print(names)
#  add at last

['kiran', 'abbas', 'habib', 'jamil']

In [75]:
# insert add at  start  or any where position that we give
names : list[str] = ["kiran" ,"abbas" , "habib"]
names.insert(2,"kamran")
print(names)

['kiran', 'abbas', 'kamran', 'habib']

In [81]:
names : list[str] = ["kiran" ,"abbas" , "habib"]
names.clear() #remove all elements
print(names)

[]

In [86]:
names : list[str] = ["kiran" ,"abbas" , "habib"]
# abbas = names # shallow copy
abbas = names.copy()
print(abbas)
print(names)
names[0] = "naya banda"
print(names)
print(abbas)

['kiran', 'abbas', 'habib']
['kiran', 'abbas', 'habib']
['naya banda', 'abbas', 'habib']
['kiran', 'abbas', 'habib']

In [99]:
# count
a : list[str] =["a" , "b" , "a" , "b" , "c" ,"m" ,"t","z"]
print(a.count('c'))

1

In [110]:
# extend

name:list[str] = ["ali rana" , "bahadur khan" , "gulzar ahemd"]
new_falcuty_member :list[str] = ["sir imran" , "Dr noman"]
name.append(new_falcuty_member)
name

['ali rana', 'bahadur khan', 'gulzar ahemd', ['sir imran', 'Dr noman']]

In [108]:
name:list[str] = ["ali rana" , "bahadur khan" , "gulzar ahemd"]
new_falcuty_member :list[str] = ["sir imran" , "Dr noman"]
name.extend(new_falcuty_member)
name

['ali rana', 'bahadur khan', 'gulzar ahemd', 'sir imran', 'Dr noman']

In [120]:
name:list[str] = ["ali rana" , "bahadur khan" , "gulzar ahemd" , "gulzar ahemd","gulzar ahemd"]
# name.remove("gulzar ahemd")
# name
name.index("gulzar ahemd" , 4)

4

In [121]:
name:list[str] = ["ali rana" , "bahadur khan" , "gulzar ahemd"]
name.reverse()
name

['gulzar ahemd', 'bahadur khan', 'ali rana']

In [127]:
name:list[str] = ["ali rana" , "bahadur khan" , "gulzar ahemd"]
name.sort(reverse=True)
name
# sort in memory changes in physical data

['gulzar ahemd', 'bahadur khan', 'ali rana']