#list 
iteration operation with loop
apply any operation on element

In [2]:
names : list[str] = ["muhammad ali"]
print(names)

['muhammad ali']

In [10]:
names : list[str] = ["muhammad ali" , "sir zia" , "sir inam"]
for name in names:
    print(name)

muhammad ali
sir zia
sir inam

In [17]:
for name in names[-2:]:
    print(f'hello teachers {name.title()}')
    print("piaic gen ai class\n")
print("run outside loop")

hello teachers Sir Zia
piaic gen ai class

hello teachers Sir Inam
piaic gen ai class

run outside loop

for name in names:
    print(name)

In [9]:
names = [ "alina" , "areeba" , "maliha"]
i:int= 0 # initilize counter
while i<len(names):
    print(names[i])
    i+=1

alina
areeba
maliha

```
names = [ "alina" , "areeba" , "maliha"]
for(i=0;i<names.length ;i++{
names[i]
})
```

tuple

In [24]:
# from typing import Tuple
data_base:list[tuple[str, str]] = [
{"zarnain" , "123"},
{"alina" , "12223"}
 ]
for row in data_base:
    print(row)

{'123', 'zarnain'}
{'12223', 'alina'}

In [25]:
data_base:list[tuple[str, str]] = [
{"zarnain" , "123"},
{"alina" , "12223"}
 ]
for row in data_base:
    user , password =row
    print(user ,password)

123 zarnain
12223 alina

In [31]:
data_base:list[tuple[str, str]] = [
{"zarnain" , "123"},
{"alina" , "12223"}
 ]

input_user :str = input("enter your name")
input_pass :str = input("enter your pass")
# print(input_user , input_pass)
for row in data_base:
    user , password =row
    if input_user == user and input_pass == password:
        print("password matched!")
        break
else:
    print("dont mathced!")
       
    # print(user ,password)

dont mathced!

In [37]:
magicians=["alice" , "david" , " carolina"]
for magician in magicians:
    print(f'{magician.title()} , that was a great trick!')
print(f'I CANT WAIT TO SEE YOU, {magician.title()}.\n')
# last value will be used outside of loop

Alice , that was a great trick!
David , that was a great trick!
 Carolina , that was a great trick!
I CANT WAIT TO SEE YOU,  Carolina.

#numbers with loop
range(start:end :step)

In [39]:
list(range(0,3))   #starting=0 , end:n-1

[0, 1, 2]

In [40]:
list(range(2,20, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [42]:
for z in range(2,23,3):
    print(z)

2
5
8
11
14
17
20

In [45]:


magicians=["alice" , "david" , " carolina"]
# list(enumerate(magicians))
for index ,name in enumerate(magicians):
    print(index , name)

0 alice
1 david
2  carolina

In [52]:
# generate table of 2
# list(range(2,21,2))
list(range(1,11))


for n in range(1,11):
    print(f"2 * {n} = {2*n}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

#list comprehensive
```
for item in items_list:
   loop_body
```
comprehensive style

```
   [loop_body for item in items_list]
```

In [53]:
squares : list[int] = []
for value in range(1,11):
    square=value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
my_foods = ["pizza" , "cake" , "falafel"]
freind_food = my_foods[:]

print(my_foods)
print(freind_food)

freind_food[0] ="tiikkaa"
print(freind_food)

['pizza', 'cake', 'falafel']
['pizza', 'cake', 'falafel']
['tiikkaa', 'cake', 'falafel']

tuple
immutable
cant update

In [58]:
names:tuple[str ,str] = ("a" , "b" , "c")
print(names[0])
print(names[2])

names:tuple[str ,str] = ("pakistan" , "china" , "india")
print(names)

a
c
('pakistan', 'china', 'india')

In [62]:
from typing import Any
data : tuple[Any] = ("A" , [1,2,3] ,True)
print(data[1])
print(data)
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3], True)
('A', [1, 2, 3, 20], True)