In [8]:
s= "dad"
print(s)

dad

In [9]:
name : str = '"zarnian"\n "naz" '

fname : str = "MUhmamd Abid"
educaton : str = "BS in SE "
age : int = 19
print (name  , fname , educaton)

"zarnian"
 "naz"  MUhmamd Abid BS in SE

In [10]:
card  : str = "PIAIC student card student name is \n " +name+ "and father name is " +fname+ "and education is " +educaton+ "and age is " + str(age)
print(card)

PIAIC student card student name is
 "zarnian"
 "naz" and father name is MUhmamd Abidand education is BS in SE and age is 19

In [11]:
# \ backslash means line continue
print(6 +\
            +5\
      +4)

15

In [14]:
#define mult iline string ''' string ''' or """" string """"

card :str = '''
name : str = '"zarnian"\n "naz" '
fname : str = "MUhmamd Abid"
educaton : str = "BS in SE "
age : int = 19
'''
print(card)

name : str = '"zarnian"
 "naz" '
fname : str = "MUhmamd Abid"
educaton : str = "BS in SE "
age : int = 19

In [16]:
# F-string python 
card :str = f'''
name  = {name}
fname= {fname}
educaton= {educaton}
age = {age}
'''
print(card)

name  = "zarnian"
 "naz"
fname= MUhmamd Abid
educaton= BS in SE
age = 19

In [18]:
# F-string and jinja
'''
student name {{name}}
'''

'\nstudent name {{name}}\n'

In [19]:
card :str = f'''
name  = %s
fname= %s
educaton= %s
age = %d
''' %(name , fname , educaton ,age)
print(card)

name  = "zarnian"
 "naz"
fname= MUhmamd Abid
educaton= BS in SE
age = 19

In [20]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [22]:
name : str= "MihammD QsaIm"
print(name.lower())
print(name.capitalize())

mihammd qsaim
Mihammd qsaim

In [23]:
a= 9 
b=34
# {} placeholder
"pakistan value a ={} and value b is {}".format(a,b)

'pakistan value a =9 and value b is 34'

In [26]:
card :str = '''
name  = {3}
fname= {1}
educaton= {0}
age = {2}
''' .format(name , fname , educaton ,age)
print(card)

name  = 19
fname= MUhmamd Abid
educaton= MihammD QsaIm
age = BS in SE

In [29]:
student_code : str = '''
print("my name is zarnain")
a:int = 9
b:int =34
print(a+b)
'''
exec(student_code)

my name is zarnain
43

#exploring string methods and attributes
(pre defined )global function
print
id
 dir
 len
 type

In [32]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

47

In [35]:
name: str= "muhammad ali"
print(name.capitalize())
print(name.upper())

Muhammad ali
MUHAMMAD ALI

In [48]:
# lstrip remove left side space 
name :str = "             zarnain naz             "
print(name)
name.lstrip()
display(name)
display(name.lstrip())
display(name)
display(name.rstrip())
display(name.strip())

             zarnain naz

'             zarnain naz             '

'zarnain naz             '

'             zarnain naz             '

'             zarnain naz'

'zarnain naz'

lstrip remove space from left
rstrip remove space from right
stip remove space from  both

In [57]:
import re
name :str = "     zarnain   naz    "
display(name)
name1: str = re.sub('  {2,100}','' ,name).strip()
display(name1)

'     zarnain   naz    '

'zarnain   naz'

In [60]:
first_name:str = "ada"
last_name: str = "lovely"
full_name : str =f"{first_name} {last_name} "
print(full_name)
print(f'Hello , {full_name.title()}!')

ada lovely
Hello , Ada Lovely !